.header {
  padding-bottom: 85px;
  text-align: center;
  color: $text-color;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__text {
    @include margin;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  &__title {
    @include margin;
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 24px;

    &__title {
      font-size: 28px;
    }
  }
}
